In [1]:
import pandas as pd

csv_input = pd.read_csv('files/dataset_random_trajectory_07mars24.csv')
data = csv_input
data

        weather           x           y         z   heading   velocity
0             3 -117.380280 -145.332626  0.349650  1.566089   7.056001
1             3 -117.378838 -145.333115  0.109912  1.565988   8.648201
2             3 -117.375916 -145.334167 -0.058322  1.566237   4.064184
3             3 -117.379082 -145.334015 -0.111934  1.565841   0.727079
4             3 -117.413315 -145.328979 -0.091736  1.562524   2.442716
...         ...         ...         ...       ...       ...        ...
559795        2 -225.482391  -11.600016  9.988826 -0.011426  87.899382
559796        2 -225.455750   -9.158527  9.988826 -0.008848  87.898408
559797        2 -225.434311   -6.717003  9.988826 -0.005570  87.897992
559798        2 -225.420166   -4.275458  9.988826 -0.001460  87.896323
559799        2 -225.414352   -1.833907  9.988826  0.002951  87.895631

[559800 rows x 6 columns]

In [2]:
data = csv_input[list(('x', 'y', 'z', 'heading', 'velocity', 'weather'))]
data

                 x           y         z   heading   velocity  weather
0      -117.380280 -145.332626  0.349650  1.566089   7.056001        3
1      -117.378838 -145.333115  0.109912  1.565988   8.648201        3
2      -117.375916 -145.334167 -0.058322  1.566237   4.064184        3
3      -117.379082 -145.334015 -0.111934  1.565841   0.727079        3
4      -117.413315 -145.328979 -0.091736  1.562524   2.442716        3
...            ...         ...       ...       ...        ...      ...
559795 -225.482391  -11.600016  9.988826 -0.011426  87.899382        2
559796 -225.455750   -9.158527  9.988826 -0.008848  87.898408        2
559797 -225.434311   -6.717003  9.988826 -0.005570  87.897992        2
559798 -225.420166   -4.275458  9.988826 -0.001460  87.896323        2
559799 -225.414352   -1.833907  9.988826  0.002951  87.895631        2

[559800 rows x 6 columns]

In [3]:
data = data.rename(columns={'x':'pos.x', 'y':'pos.y', 'z':'pos.z'})
data

             pos.x       pos.y     pos.z   heading   velocity  weather
0      -117.380280 -145.332626  0.349650  1.566089   7.056001        3
1      -117.378838 -145.333115  0.109912  1.565988   8.648201        3
2      -117.375916 -145.334167 -0.058322  1.566237   4.064184        3
3      -117.379082 -145.334015 -0.111934  1.565841   0.727079        3
4      -117.413315 -145.328979 -0.091736  1.562524   2.442716        3
...            ...         ...       ...       ...        ...      ...
559795 -225.482391  -11.600016  9.988826 -0.011426  87.899382        2
559796 -225.455750   -9.158527  9.988826 -0.008848  87.898408        2
559797 -225.434311   -6.717003  9.988826 -0.005570  87.897992        2
559798 -225.420166   -4.275458  9.988826 -0.001460  87.896323        2
559799 -225.414352   -1.833907  9.988826  0.002951  87.895631        2

[559800 rows x 6 columns]

In [4]:
# Export the dataframe
data.to_csv("files/dataset_trajectory_07mars24.csv", index=False)