In [1]:
import pandas as pd

# list all csv files only
csv_files = []

for item in range(0, 101):
    csv_files.append("files/data_27mars2024_2/random_"+str(item)+".csv")

csv_files

['files/data_27mars2024_2/random_0.csv',
 'files/data_27mars2024_2/random_1.csv',
 'files/data_27mars2024_2/random_2.csv',
 'files/data_27mars2024_2/random_3.csv',
 'files/data_27mars2024_2/random_4.csv',
 'files/data_27mars2024_2/random_5.csv',
 'files/data_27mars2024_2/random_6.csv',
 'files/data_27mars2024_2/random_7.csv',
 'files/data_27mars2024_2/random_8.csv',
 'files/data_27mars2024_2/random_9.csv',
 'files/data_27mars2024_2/random_10.csv',
 'files/data_27mars2024_2/random_11.csv',
 'files/data_27mars2024_2/random_12.csv',
 'files/data_27mars2024_2/random_13.csv',
 'files/data_27mars2024_2/random_14.csv',
 'files/data_27mars2024_2/random_15.csv',
 'files/data_27mars2024_2/random_16.csv',
 'files/data_27mars2024_2/random_17.csv',
 'files/data_27mars2024_2/random_18.csv',
 'files/data_27mars2024_2/random_19.csv',
 'files/data_27mars2024_2/random_20.csv',
 'files/data_27mars2024_2/random_21.csv',
 'files/data_27mars2024_2/random_22.csv',
 'files/data_27mars2024_2/random_23.csv',
 'files/data_27mars2024_2/random_24.csv',
 'files/data_27mars2024_2/random_25.csv',
 'files/data_27mars2024_2/random_26.csv',
 'files/data_27mars2024_2/random_27.csv',
 'files/data_27mars2024_2/random_28.csv',
 'files/data_27mars2024_2/random_29.csv',
 'files/data_27mars2024_2/random_30.csv',
 'files/data_27mars2024_2/random_31.csv',
 'files/data_27mars2024_2/random_32.csv',
 'files/data_27mars2024_2/random_33.csv',
 'files/data_27mars2024_2/random_34.csv',
 'files/data_27mars2024_2/random_35.csv',
 'files/data_27mars2024_2/random_36.csv',
 'files/data_27mars2024_2/random_37.csv',
 'files/data_27mars2024_2/random_38.csv',
 'files/data_27mars2024_2/random_39.csv',
 'files/data_27mars2024_2/random_40.csv',
 'files/data_27mars2024_2/random_41.csv',
 'files/data_27mars2024_2/random_42.csv',
 'files/data_27mars2024_2/random_43.csv',
 'files/data_27mars2024_2/random_44.csv',
 'files/data_27mars2024_2/random_45.csv',
 'files/data_27mars2024_2/random_46.csv',
 'files/data_27mars2024_2/random_47.csv',
 'files/data_27mars2024_2/random_48.csv',
 'files/data_27mars2024_2/random_49.csv',
 'files/data_27mars2024_2/random_50.csv',
 'files/data_27mars2024_2/random_51.csv',
 'files/data_27mars2024_2/random_52.csv',
 'files/data_27mars2024_2/random_53.csv',
 'files/data_27mars2024_2/random_54.csv',
 'files/data_27mars2024_2/random_55.csv',
 'files/data_27mars2024_2/random_56.csv',
 'files/data_27mars2024_2/random_57.csv',
 'files/data_27mars2024_2/random_58.csv',
 'files/data_27mars2024_2/random_59.csv',
 'files/data_27mars2024_2/random_60.csv',
 'files/data_27mars2024_2/random_61.csv',
 'files/data_27mars2024_2/random_62.csv',
 'files/data_27mars2024_2/random_63.csv',
 'files/data_27mars2024_2/random_64.csv',
 'files/data_27mars2024_2/random_65.csv',
 'files/data_27mars2024_2/random_66.csv',
 'files/data_27mars2024_2/random_67.csv',
 'files/data_27mars2024_2/random_68.csv',
 'files/data_27mars2024_2/random_69.csv',
 'files/data_27mars2024_2/random_70.csv',
 'files/data_27mars2024_2/random_71.csv',
 'files/data_27mars2024_2/random_72.csv',
 'files/data_27mars2024_2/random_73.csv',
 'files/data_27mars2024_2/random_74.csv',
 'files/data_27mars2024_2/random_75.csv',
 'files/data_27mars2024_2/random_76.csv',
 'files/data_27mars2024_2/random_77.csv',
 'files/data_27mars2024_2/random_78.csv',
 'files/data_27mars2024_2/random_79.csv',
 'files/data_27mars2024_2/random_80.csv',
 'files/data_27mars2024_2/random_81.csv',
 'files/data_27mars2024_2/random_82.csv',
 'files/data_27mars2024_2/random_83.csv',
 'files/data_27mars2024_2/random_84.csv',
 'files/data_27mars2024_2/random_85.csv',
 'files/data_27mars2024_2/random_86.csv',
 'files/data_27mars2024_2/random_87.csv',
 'files/data_27mars2024_2/random_88.csv',
 'files/data_27mars2024_2/random_89.csv',
 'files/data_27mars2024_2/random_90.csv',
 'files/data_27mars2024_2/random_91.csv',
 'files/data_27mars2024_2/random_92.csv',
 'files/data_27mars2024_2/random_93.csv',
 'files/data_27mars2024_2/random_94.csv',
 'files/data_27mars2024_2/random_95.csv',
 'files/data_27mars2024_2/random_96.csv',
 'files/data_27mars2024_2/random_97.csv',
 'files/data_27mars2024_2/random_98.csv',
 'files/data_27mars2024_2/random_99.csv',
 'files/data_27mars2024_2/random_100.csv']

In [31]:
df_csv_append = []
for file in csv_files:
    df = pd.read_csv(file)
    #df = df.head(2400)
    if(len(df)==1801):
        df = df.head(1800)
    if(len(df)==3601):
        df = df.head(3600)
    if(len(df)==5401):
        df = df.head(5400)
    df_csv_append.append(df)

In [32]:
final_csv = pd.concat(df_csv_append, ignore_index=True)
final_csv.head()

   weather           x          y         z   heading  velocity
0        1 -195.618484 -47.459961  0.349650  3.141317  7.056001
1        1 -195.618484 -47.459961  0.102928  3.141317  9.440141
2        1 -195.618469 -47.459927 -0.025018  3.141346  1.739497
3        1 -195.618454 -47.460835 -0.017636  3.141447  0.984090
4        1 -195.617020 -47.483040  0.011334 -3.140836  1.615983

In [33]:
data = final_csv[list(('x', 'y', 'z', 'heading', 'velocity', 'weather'))]
data.head()

            x          y         z   heading  velocity  weather
0 -195.618484 -47.459961  0.349650  3.141317  7.056001        1
1 -195.618484 -47.459961  0.102928  3.141317  9.440141        1
2 -195.618469 -47.459927 -0.025018  3.141346  1.739497        1
3 -195.618454 -47.460835 -0.017636  3.141447  0.984090        1
4 -195.617020 -47.483040  0.011334 -3.140836  1.615983        1

In [34]:
data = data.rename(columns={'x':'pos.x', 'y':'pos.y', 'z':'pos.z'})
data

             pos.x      pos.y     pos.z   heading   velocity  weather
0      -195.618484 -47.459961  0.349650  3.141317   7.056001        1
1      -195.618484 -47.459961  0.102928  3.141317   9.440141        1
2      -195.618469 -47.459927 -0.025018  3.141346   1.739497        1
3      -195.618454 -47.460835 -0.017636  3.141447   0.984090        1
4      -195.617020 -47.483040  0.011334 -3.140836   1.615983        1
...            ...        ...       ...       ...        ...      ...
354595   35.100948 -28.288471 -0.011039 -0.000355  22.704468        2
354596   35.101334 -27.667675 -0.011024 -0.000476  22.295566        2
354597   35.101654 -27.058044 -0.011017 -0.000512  21.912258        2
354598   35.101952 -26.458090 -0.011021 -0.000510  21.600114        2
354599   35.102242 -25.865623 -0.011035 -0.000510  21.364013        2

[354600 rows x 6 columns]

In [35]:
data.to_csv("files/dataset_trajectory_27mars24_2.csv", index=False)

## Use this section only for add data to the global dataset "dataset_trajectory.csv"

In [4]:
csv_to_global = ["files/dataset_trajectory.csv", "files/dataset_trajectory_27mars24_2.csv"]

df_csv_global_append = []
for file in csv_to_global:
    df = pd.read_csv(file)
    df_csv_global_append.append(df)

final_global_csv = pd.concat(df_csv_global_append, ignore_index=True)
final_global_csv.to_csv("files/dataset_trajectory2.csv", index=False)