In [1]:
import pandas as pd

csv_input = pd.read_csv('files/evaluation_09mars24.csv')
data = csv_input
data

      weather           x           y         z   heading   velocity
0           2 -184.810776  -16.894972  0.349650  0.000276   7.056001
1           2 -184.810776  -16.894972  0.102828  0.000276   9.476255
2           2 -184.810638  -16.893084 -0.005079  0.000173   1.096180
3           2 -184.810516  -16.892187 -0.001560  0.000094   0.676115
4           2 -184.809372  -16.881786  0.018010 -0.000684   0.952583
...       ...         ...         ...       ...       ...        ...
1795        2  -98.534698 -144.216080  0.050441  1.572167  19.547256
1796        2  -99.072975 -144.216309  0.050440  1.571787  19.276842
1797        2  -99.603806 -144.216461  0.050440  1.571516  19.009980
1798        2 -100.128716 -144.216568  0.050435  1.571329  18.893541
1799        2 -100.643677 -144.216675  0.050393  1.571200  17.823926

[1800 rows x 6 columns]

In [2]:
data = csv_input[list(('x', 'y', 'z', 'heading', 'velocity', 'weather'))]
data

               x           y         z   heading   velocity  weather
0    -184.810776  -16.894972  0.349650  0.000276   7.056001        2
1    -184.810776  -16.894972  0.102828  0.000276   9.476255        2
2    -184.810638  -16.893084 -0.005079  0.000173   1.096180        2
3    -184.810516  -16.892187 -0.001560  0.000094   0.676115        2
4    -184.809372  -16.881786  0.018010 -0.000684   0.952583        2
...          ...         ...       ...       ...        ...      ...
1795  -98.534698 -144.216080  0.050441  1.572167  19.547256        2
1796  -99.072975 -144.216309  0.050440  1.571787  19.276842        2
1797  -99.603806 -144.216461  0.050440  1.571516  19.009980        2
1798 -100.128716 -144.216568  0.050435  1.571329  18.893541        2
1799 -100.643677 -144.216675  0.050393  1.571200  17.823926        2

[1800 rows x 6 columns]

In [3]:
data = data.rename(columns={'x':'pos.x', 'y':'pos.y', 'z':'pos.z'})
data

           pos.x       pos.y     pos.z   heading   velocity  weather
0    -184.810776  -16.894972  0.349650  0.000276   7.056001        2
1    -184.810776  -16.894972  0.102828  0.000276   9.476255        2
2    -184.810638  -16.893084 -0.005079  0.000173   1.096180        2
3    -184.810516  -16.892187 -0.001560  0.000094   0.676115        2
4    -184.809372  -16.881786  0.018010 -0.000684   0.952583        2
...          ...         ...       ...       ...        ...      ...
1795  -98.534698 -144.216080  0.050441  1.572167  19.547256        2
1796  -99.072975 -144.216309  0.050440  1.571787  19.276842        2
1797  -99.603806 -144.216461  0.050440  1.571516  19.009980        2
1798 -100.128716 -144.216568  0.050435  1.571329  18.893541        2
1799 -100.643677 -144.216675  0.050393  1.571200  17.823926        2

[1800 rows x 6 columns]

In [4]:
# Export the dataframe
data.to_csv("files/evaluation_trajectory_09mars24.csv", index=False)